* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Russo One'; 
  src:  url('https://fonts.googleapis.com/css?family=Russo+One');; 
}
@font-face {
  font-family: 'square_sans_serif'; 
  src: url('fonts/square_sans_serif_7.ttf'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278975/square_sans_serif_7_qavwf9.ttf'); 
}

@font-face {
  font-family: 'square_sans_serif'; 
  src: url('fonts/square_sans_serif_7.ttf'), url('https://res.cloudinary.com/dmf7frt4a/raw/upload/v1725278975/square_sans_serif_7_qavwf9.ttf'); 
}


html {
  width: 100%;
  max-height: 100vh;
  background-color: #031859;
  font-family: 'square_sans_serif';
  font-size: 20px;
}


body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body.loading {
  display: none;
}
body.loaded {
  display: flex;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  height: 100vh;
  object-fit: fill;
}


#app {
  display: flex;
  width: 90%;
  height: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  border: 2px solid;
  border-color:  #FFFFFF #808080 #808080 #FFFFFF;
  box-shadow: 2px 2px 8px black;
  padding: 0 40px;
  margin: auto;
  transform: translateY(50%);
}

.display-container {
  width: 100%;
  height: 100%;
  flex: 5;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.drumpad{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid;
  border-color:  #FFFFFF #808080 #808080 #FFFFFF;
  box-shadow: 2px 2px 8px black;
  padding: 1px;
  height: 100%;
  min-height: 200px;
  margin:20px auto;
}


.button {
  width: 100%;
  height: 100%;
  color: rgb(3,24,91, 0.8);
  background: linear-gradient(120deg, rgb(3,24,91,0.5),rgb(183, 187, 228, 0.6));
  font-family: 'square_sans_serif';
  font-size: larger;
}

.button.active {
  background: linear-gradient(120deg, rgb(3,24,91),rgb(183, 187, 228, 0.8));;
}

#display {
  color: rgb(183, 187, 228, 0.8);
  display: block;
  margin: 20px;
  padding-top: 10px;
}

#volume-container{
display: flex;
flex: 1;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30px;
height: 100%;
margin: 0;
margin-top: 40px;
padding: 0;
}

#volume-bar{
  transform: rotate(270deg);
  cursor: pointer;
}



#volume-label{
  font-size: clamp(0.8em, 3.5vw, 1em);
  color: rgb(183, 187, 228, 0.8);
  padding-top: 70px;
}

@media screen and (max-width: 530px) {

  .display-container {
    flex: 8;
  }

  #volume-container {
    margin-bottom: 50px;
  }

  #volume-bar{
    height: 5px;
}
  
  #volume-label{
    display: none;
  }

  #drum-machine {
    gap: 20px;
    padding: 0 20px;
  }


}